<%= stylesheet_link_tag "styles.css" %>

<div class="container-fluid text-center">
<h1> Welcome to Christmas Codaisseurify! </h1>
<br>
<h3 class="marker">Get into the holiday mood with these artists:</h3>
<br>
<br>
<br>
<br>
  <% @artists.each do |artist| %>
  <div class="column">
    <div class="col-sm-4">
      <h2><%= link_to artist.name, artist_path(artist.id) %></h2>
      <div class="artist-img"><%= image_tag artist.remote_image_url %></div>
    </div>
  </div>
<% end %>
</div>
