<div class="container-fluid text-center">
<h1> Welcome to Christmas Codaisseurify! </h1>
<!-- Grid -->
<br>
<h3 class="margin">Artists:</h3><br>
  <% @artists.each do |artist| %>
  <div class="column">
    <div class="col-sm-4">
      <h2><%= link_to artist.name, artist_path(artist.id) %></h2>
      <p><%= image_tag artist.remote_image_url %></p>

    </div>
  </div>
<% end %>
</div>
